<form (ngSubmit)="this.loginForm.valid && onLogin()" [formGroup]="this.loginForm" >
<div   class="overlay" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="30px" >
  <img width="10%" src="../assets/duck.jpeg">
  <mat-card fxLayout="column">
    <h2>Login</h2>
    <mat-form-field >
   <input formControlName="email" type="email" required="email"  matInput placeholder="Email">
   <mat-error>Email is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="password" type="password" required="password" matInput placeholder="password">
      <mat-error>password is required</mat-error>
       </mat-form-field>
       <a style="margin-top:2rem" href="#" >Forgot password?</a>
       <i class="bi bi-eye-slash" id="togglePassword"></i>
       <div style="margin-top: 2rem;" fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="end">
        <button type="submit" (click)="onLogin()" color="primary" mat-raised-button=>Login</button>
        <button color="accent" mat-raised-button>Signup</button>
       </div>
  </mat-card>

</div>
</form>